.body {
    margin: 20px;
    padding: 0px;
}

.one {
    width: 100%;
    height: 200px;
    background-color: red;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.wrapper {
    width: 60%;
    height: 700px;
    display: inline-block;
    margin-top: 20px;
}

.wrapper2 {
    width: 100%;
    height: 700px;
    display: block;
    margin: 0px;
    padding: 0px;
}

.two {
    color: white;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 99%;
    height: 290px;
    display: block;
}


.three {
    color: white;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 49%;
    height: 389px;
    margin-top: 20px;
    display: inline-block;
}


.four {
    color: white;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 49%;
    height: 389px;
    display: inline-block;
    margin-top: 20px;
}

.five {
    width: 39.5%;
    height: 700px;
    display: inline-block;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-top: 20px;
    position: absolute;
}


